fastapi==0.115.6
keras==3.7.0
numpy==1.26.4
opencv-python==4.10.0.84
pydantic==2.10.3
PyQt5==5.15.11
pytesseract==0.3.13
python-multipart==0.0.20
tensorflow==2.18.0
torch==2.0.1
torchvision==0.15.2
ultralytics==8.2.100
uvicorn==0.34.0
